.home{
    font-size:7vmax;
    text-align: right;
    padding-top: 10%;
    display: flex;
    justify-content: right;
    text-decoration: underline;
    padding-right: 2%;
    color: rgb(0, 0, 0);
}
.profession{
    font-size: 5vmax;
    text-align: right;
    padding-bottom: 5%;
    padding-right: 2%;
    color: rgb(0, 0, 0);
}
.skillset{
    font-size: 4vmax;
    text-align: right;
    padding-right: 2%;
    color: rgb(0, 0, 0);
}
.tools{
    font-size: 4vmax;
    text-align: right;
    padding-right: 2%;
    font-weight: bold;
    padding-top: 2%;
    color: rgb(0, 0, 0);
}